.grid-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .grid-image-container {
    max-width: 640px;
    justify-content: stretch;
    height: auto;
    position: relative;
    @media only screen and (max-width: 1600px) {
      max-width: 500px;
    }

    @media only screen and (max-width: 800px) {
      max-width: 600px;
    }

    .grid-image {
      display: block;
      max-height: 300px;
      padding-right: 0.5rem;
      width: 100%;
      object-fit: cover;
      padding-right: 0.4rem;
      margin-bottom: 0.4rem;

      @media only screen and (max-width: 1600px) {
        max-height: 300px;
      }

      @media only screen and (max-width: 800px) {
        max-height: 300px;
      }
    }
  }
}
