.grid-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .grid-image-container {
    flex: 1 0 auto;
    margin: .6rem;
    height: auto;
    position: relative;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    .grid-image {
      display: block;
      max-height: 300px;
      padding-right: 0.5rem;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 0.4rem;

      @media only screen and (max-width: 1600px) {
        max-height: 300px;
      }

      @media only screen and (max-width: 800px) {
        max-height: 300px;
      }
    }
  }
}
