.projects-container {
  display: flex;
  justify-items: space-between;
}

.project-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .project-image-container {
    flex-grow: 1;
    max-width: 640px;
    align-self: stretch;
    .project-image {
      display: block;
      height: auto;
      max-height: 400px;
      padding-right: .5rem;
      width: 100%;
      object-fit: cover;
      padding-right: .3rem;
    }
  }
}

.projects-menu {
  padding-right: 2rem;
}

.projects-title-container {
  display: flex;
  justify-content: space-around;
}


