.project-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .project-image-container {

    .project-image {
      height: auto;
      max-height: 400px;
      padding-right: .5rem;
      width: 100%;
      max-width: 500px;
      object-fit: cover;
    }
  }
}