.contact-container {
  display: flex;
  width: 39rem;

  @media only screen and (max-width: 1200px) {
    width: 35rem;
  }

  @media only screen and (max-width: 1050px) {
    width: 20rem;
    margin-top: 0;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .contact {
    margin-top: 2rem;
    display: flex;
    width: 50%;
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-top: 0.5rem;
    }

    .contact-icon {
      color: var(--color-primary);
    }

    .contact-cta {
      margin-left: 1rem;
      color: var(--color-blue-darkest);

      h3 {
        margin-bottom: 0.2rem;
        color: var(--color-primary-darker);

        @media only screen and (max-width: 600px) {
          margin-top: 0.5rem;
          font-size: 1rem;
        }
      }

      p {
        color: var(--color-primary-darkest);
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
// @media only screen and (max-width: 800px) {
//   max-width: 600px;
// }
