.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: #fff;
  border-top: 1px solid var(--color-primary-lightest);
  border-bottom: 1px solid var(--color-primary-lightest);

  @media only screen and (max-width: 1050px) {
    justify-content: center;
    height: 3rem;
  }

  @media only screen and (max-width: 650px) {
  }

  .nav-list {
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;

    @media only screen and (max-width: 650px) {
      width: 100%;
      justify-content: space-between;
    }

    li {
      margin: 0;
      // background-color: #ffffff;
      .nav-item {
        padding: 1rem 3rem;
        color: var(--color-blue-dark);
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        background-color: #ffffff;

        @media only screen and (max-width: 650px) {
          padding: 0.9rem 1rem;
        }

        @media only screen and (max-width: 570px) {
          padding: 0.9rem 0.8rem;
          font-size: 1.2rem;
        }
      }

      .active-nav-item {
        border-bottom: 2px solid var(--color-blue-dark);
        color: var(--color-primary);
      }
    }
  }
}
