.blog-template-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  padding: 2rem;
  background: #fff;

  .title {
    color: var(--color-primary);
  }

  .back {
    a {
      text-decoration: none;
      color: var(--color-blue);
    }
  }
}
