.button-container {
  display: block;
  width: 100%;
  padding: 2rem 0;
  background: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 2px solid var(--color-blue-dark);
  border-right: 2px solid var(--color-blue-dark);
  .button-text {
    color: var(--color-primary);
    display: block;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    height: 100%;
    text-align: center;
    @media only screen and (max-width: 750px) {
      letter-spacing: 3px;
      font-size: 15px;
    }
  }
}
