.main-title {
  padding-top: 5rem;
  color: var(--color-primary);
  display: block;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 25px;
  @media only screen and (max-width: 550px) {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

.featured-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  column-gap: 2.3rem;
  margin-bottom: 3rem;

  .img-container {
    // position: relative;
    text-align: center;
    padding-top: 0;
    margin-bottom: 0.6rem;
  }

  .project-title {
    color: var(--color-primary);
    margin-top: 0.5rem;
    letter-spacing: 2px;
    @media only screen and (max-width: 550px) {
      letter-spacing: 0px;
    }
  }

  @media only screen and (max-width: 1250px) {
    grid-template-columns: 3fr 3fr 3fr;

    .colFour {
      display: none;
    }
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: 3fr 3fr;
    .colFour {
      display: block;
    }
  }

  @media only screen and (max-width: 550px) {
    grid-template-columns: 2fr 2fr;
    column-gap: 1rem;
  }

  .featured-image {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
 // make all images the same height in mobile
    @media only screen and (max-width: 700px) {
      height: 10rem;
    }
  }
}
