.main-title {
  padding-top: 7rem;
  color: var(--color-primary);
  display: block;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 25px;
}

.featured-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  // grid-template-rows: 1fr;
  column-gap: 0.3rem;
  margin-bottom: 3rem;

  .img-container {
    // position: relative;
    text-align: center;
    padding-top: 0;
    margin-bottom: 0.6rem;
    // .title {
    //   position: absolute;
    //   bottom: 8px;
    //   left: 16px;
    //   opacity: 80%;
    //   padding: 0 0.3rem;
    // }
  }

  .project-title {
    color: var(--color-primary);
    margin-top: 0.5rem;
    // text-transform: uppercase;
    letter-spacing: 2px;
  }

  @media only screen and (max-width: 1250px) {
    grid-template-columns: 3fr 3fr 3fr;

    .colFour {
      display: none;
    }
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: 3fr 3fr;
    padding-top: 5rem;
    .colFour {
      display: block;
    }
  }

  @media only screen and (max-width: 550px) {
    grid-template-columns: 2fr 2fr;
  }

  .featured-image {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
