.blog-page-container {
  margin-top: 3.5rem;
  padding-bottom: 10rem;
  width: 100%;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  width: 75%;
  border-right: 2px solid var(--color-blue-dark);
  border-bottom: 2px solid var(--color-blue-dark);
  background-color: #ffffff;
  a {
    // background: #f4f4;
    color: var(--color-blue-dark);
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      background: #e4e4e4;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    h2 {
      font-size: large;
    }
  }
}
