.blog-page-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}

.posts {
  list-style-type: none;
  margin: 0;
}

.blog-page-title {
  font-weight: 300;
  color: var(--color-primary);
  display: block;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 25px;
}

.post {
  margin: 1rem 0;
  width: 75%;
  // border-bottom: 1px solid var(--color-grey-dark-3);
  // border-right: 1px solid var(--color-grey-dark-3);
  box-shadow: 5px 5px 5px var(--color-grey-light-4);
  padding: 0.5rem 0.8rem 0.5rem 0;
  background-color: #ffffff;
  a {
    // background: #f4f4;
    color: var(--color-blue-dark);
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    h2 {
      font-size: large;
    }
  }
}
