.footer {
  padding-top: 20rem;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    color: white;
  }

  @media only screen and (min-width: 1200px) {
    height: 7rem;
    padding-top: 3rem;
  }

  &::before {
    background-image: url(../../images/footer1.png);
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    opacity: 0.3;

    @media only screen and (min-width: 1200px) {
      background-position: bottom;
      opacity: 0.6;
    }
  }
}
