.footer {
  padding-top: 15rem;
  width: 100%;
  height: auto;
  position: relative;

  .footer-container {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
    min-height: 4rem;

    .copyrights {
      font-size: 15px;
      @media only screen and (min-width: 1050px) {
        color: var(--color-blue-dark);
      }
      @media only screen and (max-width: 750px) {
        text-align: center;
      }
    }

    .footer-menu {
      margin-top: 1.5rem;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          margin-bottom: 1.5rem;
        }
        li {
          margin-bottom: 0;
          @media only screen and (max-width: 600px) {
            margin-bottom: 0.5rem;
            background-color: rgba(0, 0, 0, 0.8);
          }
          .nav-item {
            font-size: 15px;
            color: white;
            padding: 0.5rem 1rem;
            text-decoration: none;
            height: 1rem;
            @media only screen and (min-width: 1050px) {
              // background: white;
              color: var(--color-blue-dark);
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1050px) {
      background: white;
      color: var(--color-grey-light-1);
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &::before {
    background-image: url(../../images/footer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    opacity: 0.8;
    color: var(--color-primary);

    @media only screen and (min-width: 1200px) {
      background-position: center;
      opacity: 0.5;
    }
  }
}
